<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Login Page</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body class="light-grey">
	<div class="form">
		<form id="app-form" action="/login" method="post">
			<div class="logo">
				PA
			</div>
			<input id="username-field" value="<%= username %>" type="text" name="username" placeholder="Username">
			<input id="password-field" class="last-input" type="password" name="password" placeholder="Password">
			<% if (message) { %>
				<p class="text-danger form-error-message"><%= message %></p>
			<% } %>
			<button class="bg-primary">LOGIN</button>
		</form>
	</div>

	<script src="/js/jquery.min.js"></script>
	<script src="/js/script.js"></script>
</body>
</html>